<link rel="stylesheet" type="text/css" href="header.component.css">

<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/initials.svg"
  />
  <p>This is where Abigail Schafer displays her
    <span
      class="txt-rotate"
      data-period="2000"
      data-rotate='[ "design.", "code.", "hobbies.", "quirks.", "experience!" ]'></span>
  </p>
  <div class="spacer"></div>
 <span style="padding-right: 2%; font-size: 25px; cursor: pointer;">&#9776;</span>
</div>
